* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:' helvetica neue';
}

html, body {
  height: 100vh;
  width: 100%;
}

input, button {
  background-color: gray;
  margin: 10px 20px;
  margin: 10px;
  font-size: 15px;
  color: white;
}