* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

.html, body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

body {
  background-color: #111;
}

.Card {
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.Card img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 20%;
}

.Card p {
  margin: 20px 0;
}

.Card button {
  padding: 10px 20px;
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 5px;
}
