.header {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}

.btn {
  background-color: yellow;
}

.logo {
  background-color: coral;
  text-decoration: underline;
}